

/* _________________________ assem uses these styles ___________________________ */

img.caro{
    height: 500px;
    width: 800px;
    object-fit: cover;
}

.containImg{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 200px;
    width: 200px;
    position: absolute;
    /* overflow: hidden; */
}
.imgInner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cardInner{
    background-color: green;
    width: 100%;
    height: 100%;
    /* position: relative; */
    top: 0%;
}
.imgInner{
    background-color: green;
    width: 100%;
    height: 100%;
    /* position: relative; */
    top: 0%;
    left: 0%;
}

.cardImg{
    height: 200px;
    width: 200px;
    padding: 10px;
    
}

/* .cardImg::after{
    height: 100%;
    top: 100%;
    background-color: aqua;
    color: black;
} */

