.App {
  text-align: center;
}

/* body {
  background-image: url("https://thumbs.dreamstime.com/z/pink-floral-background-flowers-leaves-banner-border-wedding-spa-beauty-concept-beautiful-pink-floral-background-101468490.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */